<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Parkinglot</display-name>

	<servlet>
		<servlet-name>UserRegistCL</servlet-name>
		<servlet-class>com.parkinglot.controller.UserRegistCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginCL</servlet-name>
		<servlet-class>com.parkinglot.controller.UserLoginCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindAllParkingSpaceCL</servlet-name>
		<servlet-class>com.parkinglot.controller.FindAllParkingSpaceCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderParkingSpaceCL</servlet-name>
		<servlet-class>com.parkinglot.controller.OrderParkingSpaceCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancleOrderParkingSpaceCL</servlet-name>
		<servlet-class>com.parkinglot.controller.CancleOrderParkingSpaceCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EndOrderParkingSpaceCL</servlet-name>
		<servlet-class>com.parkinglot.controller.EndOrderParkingSpaceCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindCarInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.FindCarInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCarInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.AddCarInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCarInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.UpdateCarInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCarInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.DeleteCarInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindParkingRecordByUserIdCL</servlet-name>
		<servlet-class>com.parkinglot.controller.FindParkingRecordByUserIdCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindParkingRecordByCarIdCL</servlet-name>
		<servlet-class>com.parkinglot.controller.FindParkingRecordByCarIdCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindTodayOrderByUserIdCL</servlet-name>
		<servlet-class>com.parkinglot.controller.FindTodayOrderByUserIdCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.UpdateUserInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserPasswordCL</servlet-name>
		<servlet-class>com.parkinglot.controller.UpdateUserPasswordCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindIMAccountCL</servlet-name>
		<servlet-class>com.parkinglot.controller.FindIMAccountCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginCL</servlet-name>
		<servlet-class>com.parkinglot.controller.AdminLoginCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllUserInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.GetAllUserInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetParkinglotInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.GetParkinglotInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllCarInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.GetAllCarInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateParkinglotInfoCL</servlet-name>
		<servlet-class>com.parkinglot.controller.UpdateParkinglotInfoCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.parkinglot.test.test</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserRegistCL</servlet-name>
		<url-pattern>/userregistcl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginCL</servlet-name>
		<url-pattern>/userlogincl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindAllParkingSpaceCL</servlet-name>
		<url-pattern>/findallparkingspacecl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderParkingSpaceCL</servlet-name>
		<url-pattern>/orderparkingspacecl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancleOrderParkingSpaceCL</servlet-name>
		<url-pattern>/cancleorderparkingspacecl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EndOrderParkingSpaceCL</servlet-name>
		<url-pattern>/endorderparkingspacecl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindCarInfoCL</servlet-name>
		<url-pattern>/findcarinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCarInfoCL</servlet-name>
		<url-pattern>/addcarinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCarInfoCL</servlet-name>
		<url-pattern>/updatecarinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCarInfoCL</servlet-name>
		<url-pattern>/deletecarinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindParkingRecordByUserIdCL</servlet-name>
		<url-pattern>/findparkingrecordbyuseridcl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindParkingRecordByCarIdCL</servlet-name>
		<url-pattern>/findparkingrecordbycaridcl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindTodayOrderByUserIdCL</servlet-name>
		<url-pattern>/findtodayorderbyuseridcl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserInfoCL</servlet-name>
		<url-pattern>/updateuserinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserPasswordCL</servlet-name>
		<url-pattern>/updateuserpasswordcl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindIMAccountCL</servlet-name>
		<url-pattern>/findimaccountcl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginCL</servlet-name>
		<url-pattern>/adminlogincl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllUserInfoCL</servlet-name>
		<url-pattern>/getalluserinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetParkinglotInfoCL</servlet-name>
		<url-pattern>/getparkinglotinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateParkinglotInfoCL</servlet-name>
		<url-pattern>/updateparkinglotinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllCarInfoCL</servlet-name>
		<url-pattern>/getallcarinfocl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>